@font-face {
	font-family: 'spacefont';
	src: url('../font/spacefont.woff') format('woff'),
	 url('../font/spacefont.ttf') format('truetype');
}
html {
	overflow: hidden;
}
body {
	font-family: spacefont;
	background-image: url("../metal.jpg");
	background-repeat: repeat;
}